@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    font-family: 'Bellefair', serif;
    /* font-family: 'Barlow Condensed', sans-serif; */

    --white: #fff;
    --dark-blue: #0b0d17;
    --pale-blue: #d0d6f9;
}

body {
    background-color: var(--dark-blue);
}

ul,
li {
    padding-left: 0;
    list-style-type: none;
}
