.heading1,
.heading2,
.heading3,
.heading4 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: var(--white);
}

.heading1 {
    font-size: 150px;
}

.heading2 {
    font-size: 100px;
}

.heading3 {
    font-size: 56px;
}

.heading4 {
    font-size: 32px;
}

.heading5 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 4.75;
    color: var(--pale-blue);
}

.subHeading1,
.subHeading2 {
    text-transform: uppercase;
    color: var(--white);
}

.subHeading1 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
}

.subheading2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35;
}

.navText {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7;
    color: var(--white);
}
